{% extends "baza.html" %}
{% block content %}
<div class="starter-template">
<p class="lead">
Pies domowy – udomowiona forma wilka szarego, ssaka drapieżnego z rodziny psowatych,<br>
uznawana przez niektórych za podgatunek wilka, a przez innych za odrębny gatunek. <br>
Od czasu jego udomowienia powstało wiele ras, znacznie różniących się morfologią i cechami użytkowymi. <br>
Rasy pierwotne powstawały głównie w wyniku presji środowiskowej. <br>
Rasy współczesne uzyskano w wyniku doboru sztucznego.
<br>
</p>

</p>
 </div>

{% endblock %}